# Server settings:
PORT="8080"

# Database settings:
DB_CONN_STR="./data/stonks.db"

JOB_KEY=1234

# Environment
APP_ENV=development # or production

# static files cache breaker
# BUILD_TIME=1997-08-26 13:01:31

# Scraper auth keys
YFINANCEAPI_AUTH_KEY=
