package views

type ErrViewModel struct {
	Base  BaseViewModel
	Error error
}

templ err(model ErrViewModel) {
	<div>
		error: { model.Error.Error() }
	</div>
}

templ Error(model ErrViewModel) {
	@Layout(model.Base, err(model))
}
