<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ .Base.Title }}</title>
		<link href="/static/css/style.css?v={{ .Base.UnixBuildTime }}" rel="stylesheet" />
	</head>
	<body>
		<div class="page">
			<header class="site-header">
				<nav>
					<a class="nav-link{{ if eq .Base.Path "/" }} active{{ end }}" href="/">stonks</a>
				</nav>
			</header>

			<main class="content">
				{{ template "content" . }}
			</main>

			<footer class="site-footer">yo</footer>
		</div>
	</body>
</html>
